{% extends "ObPairfonyBundle::layout.html.twig" %}

{% block content %}
    <div class="pf-beta">
        <h2>Oh hai{% if app.user is not null %} <span class="blue">{{ app.user.username }}</span> {% endif %}!</h2>
        <p>Nothing to see yet, watch <a class="blue" href="https://github.com/marcaube/Pairfony">the project on GitHub</a></p>

    </div>

    {% include "ObPairfonyBundle:Main:index_userlist.html.twig" with {'entities': users} %}
{% endblock %}