<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pairfony - where passionate PHP developers come to perfect their craft</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% stylesheets '@ObPairfonyBundle/Resources/public/css/*' output='css/styles.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="pf-container">
            <img class="pf-logo" src="/bundles/obpairfony/img/pairfony-header.png" alt=""/>

            <p class="pf-tagline">
                Pairfony is the place where passionate PHP developers of all levels come to meet and perfect their craft.
            </p>

            {% if app.user is not null %}
                <a id="github-button" class="pf-button" href="{{ path('logout') }}">
                    Logout
                </a>
            {% else %}
                <a id="github-button" class="pf-button" href="{{ hwi_oauth_login_url('github') }}">
                    Sign in with github
                </a>
            {% endif %}

            <div class="pf-beta">
                <h1>Oh hai{% if app.user is not null %} <span class="blue">{{ app.user.username }}</span> {% endif %}!</h1>
                <p>Nothing to see yet, come back later...</p>
            </div>
        </div>
    </body>
</html>